/* background*/
.bg {
	position: fixed;
	z-index: -99999;
}
			
.k {
    position: relative;
    width: 100%;
    padding: 60px 30px;
    color: inherit;
 /*   background-color: #ffffff;*/
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* gold btn*/
.btn.btn-gold {
    width: 100%;
    padding: 1rem 2rem;
    font-size: 1.25rem;
    font-weight: 500;
    color: #ffe484;
    border-color: #ffe484;
}
.btn.btn-outline-gold {
	font-weight: 500;
    color: #ffe484;
    border-color: #ffe484;
    background-color: transparent;
}
.btn.btn-outline-gold:hover {
    color: #2a2730;
    background-color: #ffe484;
    border-color: #ffe484;
}

/* purple btn*/
.btn.btn-purple {
    font-weight: 500;
    color: #7952b3;
    border-color: #7952b3;
}
.btn.btn-outline-purple {
	font-weight: 500;
    color: #7952b3;
    border-color: #7952b3;
    background-color: transparent;
}
.btn.btn-outline-purple:hover {
    color: #2a2730;
    background-color: #7952b3;
    border-color: #7952b3;
}


.carousel-example-generic {
	height: 20em;
}
.carousel-inner {
	height: 20em;
}
.carousel-item png {
	width: auto;
}


/* jumbotron */
.jumbotron {
	background-color: transparent;
}
.jumbotron .form-inline input[type=text] {
	border: 1px solid transparent;
	border-color: #ffe484;
}

.card-deck-wrapper .card img {
	width: 100%;
	height: 200px;
}


/* footer */
.bd-footer {
  padding: 4rem 0;
  margin-top: 4rem;
  font-size: 85%;
  text-align: center;
  background-color: #f7f7f7;
}

.bd-footer a {
  font-weight: 500;
  color: #55595c;
}

.bd-footer a:hover {
  color: #0275d8;
}

.bd-footer p {
  margin-bottom: 0;
}

@media (min-width: 544px) {
  .bd-footer {
    text-align: left;
  }
}

.bd-footer-links {
  padding-left: 0;
  margin-bottom: 1rem;
}

.bd-footer-links li {
  display: inline-block;
}

.bd-footer-links li + li {
  margin-left: 1rem;
}

.bd-example-row .row + .row {
  margin-top: 1rem;
}



/* pageheader */
.bd-pageheader {
  padding: 2rem 15px;
  margin-bottom: 1.5rem;
  color: #cdbfe3;
  text-align: center;
  background-color: #000;
  opacity: 0.5;
}

.bd-pageheader .container {
  position: relative;
}

.bd-pageheader h1 {
  font-size: 3rem;
  font-weight: normal;
  color: #fff;
}

.bd-pageheader p {
  margin-bottom: 0;
  font-size: 1.25rem;
  font-weight: 300;
}

@media (min-width: 544px) {
  .bd-pageheader {
    padding-top: 4rem;
    padding-bottom: 4rem;
    margin-bottom: 3rem;
    text-align: left;
  }
  .bd-pageheader .carbonad {
    margin: 2rem 0 0 !important;
  }
}

@media (min-width: 768px) {
  .bd-pageheader h1 {
    font-size: 4rem;
  }
  .bd-pageheader p {
    font-size: 1.5rem;
  }
}

@media (min-width: 992px) {
  .bd-pageheader h1,
  .bd-pageheader p {
    margin-right: 380px;
  }
  .bd-pageheader .carbonad {
    position: absolute;
    top: 0;
    right: .75rem;
    margin: 0 !important;
  }
}


/* callout */
.bd-callout {
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid #eee;
  border-left-width: .25rem;
  border-radius: .25rem;

  background-color: #fff;
}

.bd-callout h4 {
  margin-top: 0;
  margin-bottom: .25rem;
}

.bd-callout p:last-child {
  margin-bottom: 0;
}

.bd-callout code {
  border-radius: .25rem;
}

.bd-callout + .bd-callout {
  margin-top: -.25rem;
}

.bd-callout-info {
  border-left-color: #5bc0de;
}

.bd-callout-info h4 {
  color: #5bc0de;
}

.bd-callout-warning {
  border-left-color: #f0ad4e;
}

.bd-callout-warning h4 {
  color: #f0ad4e;
}

.bd-callout-danger {
  border-left-color: #d9534f;
}

.bd-callout-danger h4 {
  color: #d9534f;
}

/* fixedbar */
#topcontrol {
    z-index: 999;
    background: #e74c3c;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 24px;
    position: fixed;
    bottom: -100px;
    right: 20px;
    cursor: pointer;
    overflow: auto;
    opacity: .7;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px
}
#topcontrol:before {
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #FFF
}
#topcontrol:hover {
    opacity: 1
}

/* login-group */
.login-group input {
    border: 2px solid;
    border-color: #5bc0de;
    border-radius: .25rem;
}
.login-group span {
    border: 1px solid;
    border-color: #5bc0de;
    border-radius: .25rem;
}


/* manage bar */
.fm {
    color: #1ca8dd;
    font-weight: normal;
    border-radius: 0;
}
.fm,
.fm:active,
.fm.active,
.fm[disabled],
fieldset[disabled] .fm {
    background-color: transparent;
    box-shadow: none;
}
.fm,
.fm:hover,
.fm:focus,
.fm:active {
    border-color: transparent;
}
.fm:hover,
.fm:focus {
    color: #137499;
    text-decoration: underline;
    background-color: transparent;
}
.fm[disabled]:hover,
fieldset[disabled] .fm:hover,
.fm[disabled]:focus,
fieldset[disabled] .fm:focus {
    color: #aaaaaa;
    text-decoration: none;
}
.fv, .fw, .fx, .fy, .fz, .ga, .gb, .gc, .gd, .ge, .gf, .gg, .gh, .gi, .gj, .gk, .gl, .gm, .gn, .go, .gp, .gq, .gr, .gs, .gt, .gu, .gv, .gw, .gx, .gy, .gz, .ha, .hb, .hc, .hd, .he, .hf, .hg, .hh, .hi, .hj, .hk, .hl, .hm, .hn, .ho, .hp, .hq {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
.aom .and.in,
.aom .ane.in {
    padding-bottom: 20px;
}
@media (min-width: 768px) {
    .aot {
        margin-right: 40px;
    }
}
.aon {
    position: relative;
    padding-bottom: 20px;
}
.ann,
.ano,
.anp,
.anq,
.anr {
    color: #fff;
    border-radius: 3px;
}
.ann .anm,
.ano .anm,
.anp .anm,
.anq .anm,
.anr .anm,
.ann .anl,
.ano .anl,
.anp .anl,
.anq .anl,
.anr .anl,
.ann .ani,
.ano .ani,
.anp .ani,
.anq .ani,
.anr .ani {
    font-weight: normal;
    color: inherit;
}
.ann .anj,
.ano .anj,
.anp .anj,
.anq .anj,
.anr .anj {
    font-weight: normal;
    color: rgba(255, 255, 255, 0.65);
}
.ann .ans,
.ano .ans,
.anp .ans,
.anq .ans,
.anr .ans {
    margin-left: -20px;
    margin-right: -20px;
    border-top-color: rgba(255, 255, 255, 0.2);
}
.ann {
    background-color: #1ca8dd;
}
.ano {
    background-color: #1bc98e;
}
.amy {
    display: block;
    width: 40px;
    padding: 10px;
    font-size: 16px;
    color: #555555;
    background: transparent;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
}
.amy:before {
    display: block;
    content: "";
    width: 100%;
    padding-bottom: .125em;
    border-top: .375em double;
    border-bottom: .125em solid;
}
.amy:hover,
.amy:focus {
    color: #fff;
    background-color: #555555;
}
@media (min-width: 768px) {
    .amz {
        display: none;
    }
}
.aoo {
    position: absolute;
    top: 2px;
    right: 0;
    color: #cccccc;
    border-color: #cccccc;
}
.aoo:hover,
.aoo:focus {
    color: #ffffff;
    background-color: #cccccc;
}
.ct {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
.nav > .tq {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 5px;
    font-size: 85%;
    font-weight: bolder;
    letter-spacing: 1px;
    color: #2d2d2d;
    text-transform: uppercase;
}
.nav > li + .tq {
    margin-top: 20px;
}
.nav > li {
    position: relative;
    display: block;
}
.nav > li > a {
    color: #4c2416;
    position: relative;
    display: block;
    padding: 7px 15px;
}
.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color: #e3f5fb;
    border-radius: 0.25em;
}
.nav > li.disabled > a {
    color: #aaaaaa;
}
.nav > li.disabled > a:hover,
.nav > li.disabled > a:focus {
    color: #aaaaaa;
    text-decoration: none;
    background-color: transparent;
    cursor: not-allowed;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    background-color: #e3f5fb;
    border-color: #1ca8dd;
}
.nav .nav-divider {
    height: 1px;
    margin: 9.5px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}
.nav > li > a > img {
    max-width: none;
}
.ge {
    margin: 2em auto;
    position: fixed;
    width: 25%;
}


/* tips */
.submit-tips{
    text-align: center;
    height: 44px;
    line-height: 44px;
    /*width: 126px;*/
    padding: 0px 10px;
    border-radius: 3px;
    position: fixed;
    left: 40%;
    top: 56%;
    display: none;
}

footer {
    z-index: 0;
}

/* container .d-content*/
.container .d-content {
    min-height: 25em;
    background-color: #EEEEEE;
    padding: 5em 1em;
    border-radius: .25rem;
    margin-top: -5em;
    /*margin-bottom: -5em;*/

    -webkit-box-shadow: 5px 5px 0 #fff9e9;
    -moz-box-shadow: 5px 5px 0 #fff9e9;
    box-shadow: 5px 5px 0 #fff9e9;

    z-index: 99;
}
/* markdown */
.markdown blockquote{
    border: 2px solid #eee;
    border-left-width: .25rem;
    border-left-color: #f0ad4e;
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border-radius: .25rem;
}
.markdown blockquote p:last-child {
    margin-bottom: 0;
}
.markdown img {
    width: 30em;
    margin: 5px 25%;

}